:root {
    --background: #F9F1F0;
    --primary: #FADCD9;
    --secondary: #F8AFA6;
    --text: #000000;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin: 0;
}

main {
    background: #FFD7D4;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

header {
    align-self: stretch;
    padding: 34px 100px;
    background: #F8AFA6;
    border-bottom: 2px black solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex;

    .Logo-Container {
        align-self: stretch;
        justify-content: space-between;
        align-items: center;
        display: inline-flex;
        flex-wrap: wrap;
    }

    .NicolePacheco {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100px;
            height: 100px;
        }

        span {
            color: #1E2130;
            font-size: 24px;
            font-family: Poppins;
            font-weight: 600;
            line-height: 72px;
            word-wrap: break-word;
        }
    }

    .Content {
        justify-content: flex-end;
        align-items: center;
        gap: 24px;
        display: flex;
        flex-wrap: wrap;
    }

    .Projects {
        color: black;
        font-size: 16px;
        font-family: Poppins;
        font-weight: 400;
        word-wrap: break-word;
        text-decoration: none;
    }

    .Button {
        padding: 16px;
        background: #FADCD9;
        border-radius: 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        display: flex;
        text-decoration: none;


        .ContactMe {
            color: #333333;
            font-size: 16px;
            font-family: Poppins;
            font-weight: 500;
            word-wrap: break-word;
        }
    }
}


@media screen and (max-width: 1024px) {
    header {
        padding: 15px 21px;

        .Logo-Container {
            gap: 20px;
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 470px) {
    header {
        .Logo-Container {
            justify-content: center;
        }
    }
}

.Introduction {
    align-self: stretch;
    background: #FADCD9;
    justify-content: flex-end;
    align-items: flex-start;
    display: inline-flex;

    .HeaderContent {
        height: 731px;
        flex: 1 1 0;
        align-self: stretch;
        padding: 32px;
        background-image: url(./assets/images/header-background.png);
        background-size: cover;
        background-position: calc(95% + 140px) center;
        background-repeat: no-repeat;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;
        display: inline-flex
    }

    .HeaderText {
        align-self: stretch;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 60px;
        display: flex
    }

    .Heading {
        align-self: stretch;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 32px;
        display: flex;
    }

    .HeyIMNicolePacheco {
        h2 {
            margin: 0;
            color: #1E2130;
            font-size: 64px;
            font-family: Poppins;
            font-weight: 500;
            line-height: 72px;
            word-wrap: break-word;
        }
    }

    .HeaderImage {
        display: none;
    }

    .UxUiDesignerCreativeProblemSolverMobile {
        display: none;
    }

    .UxUiDesignerCreativeProblemSolver {
        align-self: stretch;

        span {
            color: #323232;
            font-size: 28px;
            font-family: Poppins;
            font-weight: 500;
            line-height: 32px;
            word-wrap: break-word;

            &.Italic {
                font-weight: 300;
                font-style: italic;
            }
        }
    }

    .Button {
        cursor: pointer;
        width: 222px;
        height: 50px;
        padding: 16px;
        background: #FABAB2;
        border-radius: 32px;
        border-left: 1px black solid;
        border-top: 1px black solid;
        border-right: 1px black solid;
        border-bottom: 3px black solid;
        justify-content: center;
        align-items: center;
        gap: 10px;
        display: inline-flex;
        text-decoration: none;
        box-sizing: border-box;

        .WorkWithMe {
            color: black;
            font-size: 16px;
            font-family: Poppins;
            font-weight: 600;
            word-wrap: break-word;
        }
    }

    @media screen and (min-width: 1700px) {
        .HeaderContent {
            background-size: contain;
        }
    }
}

@media screen and (max-width: 1024px) {
    .Introduction {
        .HeyIMNicolePacheco {
            h2 {
                font-size: 48px;
                font-weight: 600;
                line-height: normal;
            }
        }
    }

    .UxUiDesignerCreativeProblemSolver {
        span {
            font-size: 18px;
        }
    }
}


@media screen and (max-width: 894px) {
    .Introduction {
        .HeaderContent {
            padding: 16px;
        }

        .HeyIMNicolePacheco {
            h2 {
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
                line-height: 40px;
            }
        }
    }
}


@media screen and (max-width: 800px) {
    .Introduction {
        .HeaderContent {
            background-image: none;
            justify-content: space-between;
            gap: 24px;
        }

        .UxUiDesignerCreativeProblemSolver {
            display: none;
        }

        .HeaderImage {
            display: block;
            flex: 1;
            width: 100%;
            background-image: url(./assets/images/header-background.png);
            background-size: cover;
            background-position: calc(95% + 90px) center;
            background-repeat: no-repeat;
        }

        .UxUiDesignerCreativeProblemSolverMobile {
            display: block;

            span {
                font-size: 16px;
            }

            span {
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 23px;

                &.Italic {
                    font-weight: 300;
                    font-style: italic;
                }
            }
        }

        .Button {
            width: 100%;
        }
    }
}




.Work {
    align-self: stretch;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 32px;
    padding-bottom: 32px;
    background: #FFD3CE;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    display: flex;

    .Portfolio {
        align-self: stretch;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 50px;
        display: flex;

        .Heading {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            display: flex;
        }

        .PortfoiloText {
            text-align: center;
            color: #36009D;
            font-size: 24px;
            font-family: Poppins;
            font-weight: 500;
            word-wrap: break-word;
        }

        .RecentWork {
            color: #1E2130;
            font-size: 48px;
            font-family: Poppins;
            font-weight: 600;
            word-wrap: break-word;
        }
    }

    .Cards {
        align-self: stretch;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        display: flex;

        .CardsRow {
            align-self: stretch;
            justify-content: flex-start;
            align-items: stretch;
            gap: 32px;
            display: inline-flex;
            flex-wrap: wrap;

            .Card {
                flex: 1 1 0;
                padding: 24px;
                background: white;
                border-radius: 29px;
                border: 2px black solid;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 16px;
                display: inline-flex;
                flex-basis: 400px;
                position: relative;
                text-decoration: none;

                .ImageContainer {
                    border: 1px black solid;
                    border-radius: 16px;
                    overflow: hidden;
                    display: flex;
                    height: 100%;
                    width: 100%;
                    max-height: 400px;

                    .Image {
                        width: 100%;
                        height: 400px;
                        object-fit: cover;
                    }
                }


                .Content {
                    align-self: stretch;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    display: flex;

                    .CardTitle {
                        align-self: stretch;
                        color: black;
                        font-size: 24px;
                        font-family: Poppins;
                        font-weight: 700;
                        word-wrap: break-word;
                    }

                    .CardDescription {
                        align-self: stretch;
                        color: #565656;
                        font-size: 18px;
                        font-family: Poppins;
                        font-weight: 400;
                        line-height: 30.60px;
                        word-wrap: break-word;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .Work {
        .Cards {
            .CardsRow {
                .Card {
                    .ImageContainer {
                        max-height: unset;

                        .Image {
                            height: 100%;
                        }
                    }
                }

            }

        }

    }
}

.Contact {
    align-self: stretch;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 95px;
    padding-bottom: 95px;
    background: #F8AFA6;
    border-bottom: 2px black solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex;

    .ContactContainer {
        align-self: stretch;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 60px;
        display: flex;

        .GetInTouch {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 38px;
            display: flex;

            .Content {
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                display: flex;

                .Content {
                    align-self: stretch;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 26px;
                    display: flex;

                    .LetSCreateTogether {
                        color: #1E2130;
                        font-size: 48px;
                        font-family: Poppins;
                        font-weight: 600;
                        text-transform: uppercase;
                        line-height: 62.40px;
                        word-wrap: break-word;
                        text-align: center;
                    }

                    .PleaseSendAnEmailToContactMe {
                        text-align: center;
                        color: #565656;
                        font-size: 16px;
                        font-family: Poppins;
                        font-weight: 400;
                        word-wrap: break-word;
                    }
                }
            }
        }

        .Information {
            align-self: stretch;
            justify-content: space-evenly;
            gap: 16px;
            align-items: center;
            display: inline-flex;
            flex-wrap: wrap;

            .InformationCard {
                width: 364px;
                padding: 24px;
                background: white;
                border-radius: 16px;
                border: 1px black solid;
                justify-content: flex-start;
                align-items: center;
                gap: 12px;
                display: flex;
                text-decoration: none;

                .Icon {
                    width: 71px;
                    height: 71px;
                    padding: 10px;
                    background: #FABAB2;
                    border-radius: 6px;
                    border: 1px black solid;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                    display: flex;
                    box-sizing: border-box;

                    img {
                        width: 50px;
                        height: 50px;
                    }
                }

                .Content {
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 7px;
                    display: inline-flex;
                    word-break: break-all;

                    .ContentTitle {
                        color: #1E2130;
                        font-size: 20px;
                        font-family: Poppins;
                        font-weight: 600;
                        word-wrap: break-word;
                    }

                    .ContentDescription {
                        color: #323232;
                        font-size: 15px;
                        font-family: Poppins;
                        font-weight: 400;
                        line-height: 19.50px;
                        word-wrap: break-word;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .Contact {
        padding: 67px 71px;
    }
}

@media screen and (max-width: 720px) {
    .Contact {
        padding: 16px;
    }
}

.Footer {
    align-self: stretch;
    padding-top: 30px;
    padding-bottom: 30px;
    background: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;

    .MadeBy {
        text-align: center;
        color: white;
        font-size: 16px;
        font-family: DM Sans;
        font-weight: 400;
        line-height: 26px;
        word-wrap: break-word;
    }
}